<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang=en>
<head><meta charset=utf-8></meta>
<meta http-equiv=Cache-Control content="no-siteapp"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</meta><title>SportChain</title>
 <link rel="stylesheet" type="text/css" href="/stylesheets/Font.css"></link>
 <link rel="stylesheet" media="screen and (min-width:980px) and (max-width:2048px)" href="CSS/min980px.css" />
 <script>
function show1(){
document.getElementById("div331").style.display="";
document.getElementById("div33").style.display="none";
//alert(document.getElementById("div").style.display)
}
function show2(){
	document.getElementById("div33").style.display="";
document.getElementById("div331").style.display="none";
//alert(document.getElementById("div").style.display)
}
</script>
<script type="text/JavaScript">
function shows(){
	document.getElementById("s1").style.display="block";
	document.getElementById("s11").style.display="none";
	document.getElementById("s2").style.display="block";
	document.getElementById("s21").style.display="none";
	}
	function dis(){
		document.getElementById("s11").style.display="block";
	document.getElementById("s1").style.display="none";
	document.getElementById("s21").style.display="block";
	document.getElementById("s2").style.display="none";
	}
</script>
 </head>
<body style="background:url(image/sc.png);" >
<div id="dh" style="margin-top:-16px">  
        <ul>  
        <li style="margin-left:50px;margin-top:10px"><font color="white" size="20px" face="STCAIYUN">SportsChain</font></li>
            <li style="margin-left:60px;"><a href="#div22">SportChain功能</a>  
                    <ul>  
                        <li><a href="#a">运动爱好者</a></li>  
                        <li><a href="#b">运动商家</a></li>    
                    </ul>  
                </li>  
            <li><a href="#div33">技术支持</a>  
                    <ul>  
                        <li><a href="#c331">BlockChain介绍</a></li>  
                        <li><a href="#c332">IBM heperledger介绍</a></li>  
                        <li><a href="#c333">SportChain介绍</a></li>  
                    </ul>  
                </li>  
                <li><a href="#div44">融资合作</a>  
                      
                </li>  
            <li><a href="#div55">关于我们</a>  
                    <ul>  
                        <li><a href="#div555">团队介绍</a></li>  
                        <li><a href="#div55">联系方式</a></li>  
                    </ul>  
                </li>  
                <li><a href="EngLishIndex.jsp">English</a></li>
        </ul>  
    </div>  
<div id="top" style="margin-top:10px; background:url(image/sc.png) top center no-repeat #065FB9;width:100%; height:700px">
</div>
<div style="text-align:center;font-size:48px;margin-top:-480px;color:white"><p>SportsChain </p>运动产业生态圈区块链项目</div>
<div id="div22">
<div style="margin-left:33%;width:33%; border-bottom:2px solid #065FB9;color:#065FB9;font-family:STHupo ;font-size:35px;text-align:center;margin-top:430px;">SportChain功能<i></i></div>
<div  style="margin-top:30px;margin-bottom:600px;" >
<div style="height:800px;width:76%;margin-left:100px" class="table1"><p>SportsChain项目开发运动者客户端程序。只要你是运动爱好者，不论男女老少，只要你热爱运动，可以记录你的运动数据，并对数据进行验证和量化，</p><p>把运动数据存储到区块链上。并可以用你的运动量化兑换你想要的运动产品，或者得到你的某一品牌的优惠券等等；在这个过程中，区块链技术可以充</p><p>分保护运动者的个人隐私的同时，完成对运动量的验证不可伪造、篡改。  开发运动产业生态圈联盟区块链。对于运动相关的品牌、保险、运动服务、健</p><p>身馆、健身器材、营养保健品等等，直接一对一的面对运动爱好者，分析并挖掘潜在用户，利用区块链技术制订自己的智能合约，推销自己的产品，提</p><p>高销售量的同时，降低运营成本；利用区块链子链技术，不同厂家和不同行业形成产业联盟，制订智能联盟合约，以满足自己产品的销售要求，进一步</p><p>降低企业成本。</div>  
	<div class="d1" id="a" style="vertical-align:middle;float:left;">
		<div class="table1" style="margin-left:;" >
		<div style="margin-top:90px;">
		<img style="border-radius: 8px;box-shadow: 0px 0 13px rgba(100,100,100,.7);"  src="/images/sport1.jpg" width="100px" height="100px" alt=""></img>
		<br>如果您热爱运动</br>
		</div>
		<p>下载我们的APP吧，它是让如何人都能参与的区块链项目，只要您热爱</p><p>运动，通过它您就可以获得运动能量！它让您在锻炼身体、提高身体素</p><p>质的同时，增强自信，同时获得的运动能量让您兑换、优惠购买您喜欢</p><p>的运动产品，让您的运动更具有价值，是不是一举两得呢？
		</div>	
	</div>
	<div class="d1" id="b" style="float:left;">
		<div style="" class="table1">
		<div style="margin-top:60px;">
		<img style="border-radius: 8px;box-shadow: 0px 0 13px rgba(100,100,100,.7);"  src="/images/sj1.jpg" width="100px" height="100px" alt=""></img>
		<br>如果您是运动产品商家</br>
		</div>
		<p>利用该区块链系统，您可以直接面对固定的、稳定的消费人群，推销自</p><p>己的产品，不仅提高了产品的销售量，同时还降低您的运营成本。可以</p><p>举办您的系列活动，制定您的活动规则，满足销售需求。还可以和其它</p><p>商家合作，举办各式各样的活动，达到产品销售的目的。
		</div>
	</div>
</div>
</div>
<div id="div33" style="background:url(image/sc.png) top center no-repeat #049FF1;margin-bottom:50px;">
<div style="width:100%;height:40px;background-color:#049FF1"></div>
<div style="margin-left:33%;width:33%;color:white; border-bottom:2px solid white;font-family:STHupo ;font-size:35px;text-align:center;margin-top:0px;">板块详解</div>
<div id="c331" style="color:white;font-family:STFangsong  ;font-size:21px;text-align:center;width:100%;height:270px;">
<div style="color:white;font-family:STFangsong  ;font-size:23px;text-align:center;width:100%;" ><p>区块链介绍</p></div>
<p>
区块链是用分布式数据库识别、传播和记载信息的智能化对等网络，也称为价值互联网。
中本聪在2008年，于《比特币白皮书》中提出“区块链”概念，并在</p><p>2009年创立了比特币，
社会网络，开发出第一个区块，即“创世区块”。
区块链共享价值体系首先被众多的加密货币效仿，并在工作量证明上和算法上进行了</p>改进，
如采用权益证明和SCrypt算法。随后，区块链生态系统在全球不断进化，出现了首次代币发
售ICO、智能合约区块链以太坊、“轻所有权、重使用权”<p>的资产代币化共享经济以及区块
链国家。目前，人们正在利用这一共享价值体系，在各行各业开发去中心化应用程序，在全
球各地构建去中心化自主组织和</p><p>去中心化自主社区。</p>
相关连接：<a href="https://www.blockchain.com/">区块链案例</a>&nbsp&nbsp<a href="https://en.wikipedia.org/wiki/Blockchain">维基百科区块链简介</a>&nbsp&nbsp<a href="https://baike.baidu.com/item/区块链">百度百科区块链简介</a>
</div>
<div id="c332" style="margin-top:100px;color:white;font-family:STFangsong  ;font-size:21px;text-align:center;width:100%;height:200px;">
<div style="color:white;font-family:STFangsong  ;font-size:23px;text-align:center;width:100%;" ><p>IBM Hyperledger 介绍</p></div>
<p>
Hyperledger Fabric是一个提供分布式账本解决方案的平台。Hyperledger Fabric由模块化架构
支撑，并具备极佳的保密性、可伸缩性、灵活性和可扩展性。</p><p>Hyperledger Fabric被设计成支
持不同的模块组件直接拔插启用，并能适应在经济生态系统中错综复杂的各种场景。
Hyperledger Fabric提供了一个独特的可伸缩、</p><p>可扩展的架构，这也是Hyperledger Fabric与其他
区块链解决方案的显著区别。</p>
相关连接：<a href="https://www.ibm.com/cloud-computing/cn/zh/newplatform/blockchain/offerings/?S_PKG=-&cm_mmc=Search_Baidu-_-CA+Consolidated+Advertising_9.1?MO?Mktg?Plan?Unknown-_-CN_CN-_-ibm区块链平台_Phrase_-&cm_mmca1=000005IG&cm_mmca2=10003581&mkwid=6a0af1d9-fbf5-4a06-bdc6-73cf31cf4dfd_968_2684">IBM Blockchain</a>&nbsp&nbsp<a href="https://www.ibm.com/blockchain/hyperledger.html">IBM Hyperledger</a>
</div>
<div id="c333" style="margin-top:80px;color:white;font-family:STFangsong  ;font-size:21px;text-align:center;width:100%;"><p>SportChain介绍</p>
<p>SportsChain是一个基于IBM公司Hyperledger Fabric框架的区块链应用程序。运动能量是Sport-
Chain唯一的内置资产，使用Kafka排序功能实现共识机制</p><p>p对运动能量进行产出，
总量恒定，不可增发。在此技术基础上完成一个运动健身、运动产业生态圈的区块链应用平台。
</div>
<div style="margin-top:70px;width:100%;text-align:center;color:red;font-family:STFangsong;font-size:19px;font-weight:bold;">
<a onClick="show1();">下一页</a>
</div>
<div style="width:100%;height:40px;background-color:#049FF1"></div>
</div>
<div id="div331" style="background:url(image/sc.png) top center no-repeat #049FF1;margin-bottom:50px;display:none">
<div style="width:100%;height:40px;background-color:#049FF1"></div>
<div style="margin-left:33%;width:33%;color:white; border-bottom:2px solid white;font-family:STHupo ;font-size:35px;text-align:center;margin-top:0px;">板块详解</div>
<div style="margin-left:8%;width:33%;text-align:left;margin-top:80px;color:white;font-family:STFangsong  ;font-size:21px;">
<p>1） 普通运动者使用简单 </p>
  <p>  目前，各种运动APP，大部分需要额外腕表或专用的运动传感设备，用户群比较局限；另外，手机等移动设备自带的运动APP功能简单，收集运动数据有</p><p>限。因此目前的运动APP用户体验不是很好。 
    我们的运动爱好者端的APP不需要额外购买腕表等传感设备，只需要有手机等普通移动设备，下载APP即可</p><p>使用。 </p>
<p>2）运动数据更具有价值 </p>
  <p>  目前，一方面APP运动数据仅限于排名，随机抽奖或者运动币； 另一方面用于简单的运动健身管理。 
    我们项目让运动数据开口说话，更加具有实际价值，</p>比如产品个性化推荐等等，对接商家一对一。 
<p>3） 运动者隐私得到充分保护且运动数据不可伪造、篡改 </p>
    我们项目充分利用区块链的优势，充分做到保护运动者隐私的同时，做到对运动数据的审计，保证不可以伪造和篡改。这是目前APP很难做到的。 
<p>4） 运动社交圈具有诸多优点 </p>
    区块链私有链，保护运动社交圈的私有性、安全、隐私，且可以社区内成员交易，还可以提供分类的科学健身和运动的技术支持。 
<p>5） 运动产业生态圈的优点 </p>
    不是某一个产业，也不是某一个商家，而是与运动相关产业的生态圈的建立。子链技术可让商家自由联盟，制订自己的智能合约，举办自己的商业活动。 
<p>6） 商家与消费者面对面 </p>
    不再是一对多或一对全体等模式，可以一对一的消费，个性化的推荐、挖掘，提高效率降低成本。 
<p>7） 其它 </p>
    大数据分析和挖掘技术，可以为运动消费者提供个性体验和需求推荐，可以为运动企业商家提供消费分析，做到有的放矢，精准销售。 
    </div>
    <div style="margin-top:70px;width:100%;text-align:center;color:red;font-family:STFangsong;font-size:19px;font-weight:bold;">
<a onClick="show2();">上一页</a>
<div style="width:100%;height:40px;background-color:#049FF1"></div>
</div>
</div>
<div id="div44" style="margin-bottom:600px;">
<div style="margin-top:50px;" ><div style="color:#065FB9;margin-left:33%;width:33%; border-bottom:2px solid #065FB9;text-align:center;font-family:STHupo ;font-size:35px;margin-bottom:30px;margin-top:140px">融资合作</div>
			<div style="margin-top:60px;margin-bottom:40px;width:33%;font-family:STFangsong;font-size:19px;margin-left:22%"><p>✔&nbsp融资：&nbsp&nbsp支持产品的持续开发和升级、产品推广宣传、运营平台费用一栏。能与您共享资源，是您投资利益最大化！
			</p><p>✔&nbsp合作：&nbsp&nbsp为您开发区块链项目；与您合作开发区块链项目，提供技术支持。</p>
			</div>
			<div style="font-weight:bold;margin-top:50px;color:#000040;" class="div" >
					<img src="/images/2.png" alt=""></img>
					<p class=>了解区块链，或者有</p><p>关网络项目的投资者优先</p>
				</div>
				<div style="font-weight:bold;margin-top:50px;color:#000040;" class="div">
					<img src="/images/3.png" alt=""></img>
					<p class=>对运动及相关行业</p><p>了解的投资者优先</p>
				</div>
				<div style="font-weight:bold;margin-top:50px;color:#000040;" class="div">
					<img src="/images/4.png" alt=""></img>
					<p class=>能进一步深入了解，清</p><p>楚该项目前景和价值的优先</p>
				</div>
</div>
</div>
<div id="div555" style="height:500px;color:white;text-align:center;background-color:#049FF1">
<div style="width:100%;height:40px;background-color:#049FF1"></div>
<div style="margin-left:33%;width:33%;color:white; border-bottom:2px solid white;font-family:STHupo ;font-size:35px;text-align:center;margin-top:0px;">团队介绍</div>
<div id="c333" style="margin-left:13%;margin-top:80px;color:white;font-family:STFangsong  ;font-size:21px;text-align:left;width:80%;">
<p>目前，SportsChain团队有博士1人，硕士5人，学士4人，长期从事计算机软件、互联网应用等方面的研发工作，具有丰富的实战经验。</p>
    <p>项目发起人，Jackie博士，曾经在日本、美国分别留学一年，持续怀揣创业梦想，多年的互联网技术实践开发经验。对区块链的思想有</p><p>深刻的见解，对本作品进行指导与决策。</p>
    <p>感谢参与SportsChain开发的所有团员，特别感谢鹏文、小洋、哲哲、林帆、锦璞，是你们辛勤地工作创造并实现了SportsChain！</p>
<p>SportsChain就像我们的孩子一样，希望它茁壮健康地成长！</p>
</div>
</div>
<div id="div55" style="margin-top:140px;height:300px;text-align:center;">
<div style="margin-left:17%;width:66%;height:1150px;border-bottom:3px solid #049FF1; border-left:3px solid #049FF1;border-right:3px solid #049FF1">
<div style="text-align:center;background-color:#049FF1;height:3px;width:100%"></div>
<div style="margin-left:33%;width:33%; text-align:center;font-family:STHupo
 ;color:#065FB9;font-size:35px;margin-bottom:30px;margin-top:40px">联系我们</div>
<div style="margin-bottom:30px;height:2px;width:65%;background:#BEBEBE;margin-left:17.5%"></div>
<div style="margin-bottom:20px;margin-right:630px;font-size:30px;font-family:LiSu;">想了解更多？
</div>
<div style="margin-bottom:20px;margin-right:665px;">欢迎拨打联系电话：</div>
<div style="margin-bottom:20px;margin-right:550px;font-size:30px;">××××××</div>
<div style="margin-bottom:20px;margin-right:600px;">或者添加微信或QQ联系我们：</div>
<div style="margin-bottom:40px;margin-right:650px;font-size:30px;font-family:LiSu;">

	<div style="height:130px;align="center""  onmouseover="shows();" onmouseout="dis();">
    <!--鼠标不经过的时候正常显示的图片-->
   <div class="s1" id="s11">&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp 
   微信：××××××××&nbsp&nbsp&nbsp&nbsp&nbsp&nbspQQ:××××××××</div></div>
    <div class="s1" id="s1" style="display:none;"><img style="margin-left:300px;width:150px;height:150px" src="/images/weixi.png"></img>
    <img style="margin-left:150px;width:150px;height:150px" src="/images/qq.png"></img>
    </div>
</div>
</div>
</div>
<div style="color:white;margin-top:900px;margin-bottom:0px;background-color:#0080FF;height:245px">
	<div style="font-size:17px;font-family:FZYaoti ;margin-top:45px;float:left;margin-left:650px;"><br>友情链接:</br>
		<br>> <a style="color:white" href="https://github.com/IBM">IBM fabric</a></br>
		<br>> <a style="color:white" href="https://www.ibm.com/blockchain/hyperledger.html">IBM Hyperledger</a></br>
		<br>> <a style="color:white" href="https://www.ibm.com/cloud-computing/cn/zh/newplatform/blockchain/offerings/?S_PKG=-&cm_mmc=Search_Baidu-_-CA+Consolidated+Advertising_9.1?MO?Mktg?Plan?Unknown-_-CN_CN-_-ibm%E5%8C%BA%E5%9D%97%E9%93%BE%E5%B9%B3%E5%8F%B0_Phrase_-&cm_mmca1=000005IG&cm_mmca2=10003581&mkwid=6a0af1d9-fbf5-4a06-bdc6-73cf31cf4dfd_968_2684">IBM Blockchain</a></br>
	</div>
	<div style="font-size:16px;font-family:FZYaoti ;margin-top:11px;float:left;margin-left:200px;"><br>联系我们：</br>
		<br>> &nbsp 邮件：1547272702@qq.com</br>
		<br>> &nbsp QQ：1547272702</br>
		<br>> &nbsp 微信：18659288771</br>
		<br>> &nbsp 地址：×××××××××××××××××××××××</br>
	</div>
</div>
<div style="text-align:center;color:white;margin-bottom:0px;background-color:#065FB9;height:30px"></div>
<div class="gotop">    
    <a href="#top"><p>&nbsp 返 &nbsp </p><p>&nbsp 回&nbsp </p><p>&nbsp 顶&nbsp </p><p>&nbsp 部&nbsp </p></a>
 </div>
	</body>
</html>
