<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联盟活动</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/shop/templatemo_style.css" rel="stylesheet" type="text/css" />
<link href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>

<style>
#table-6 thead th {
background-color: #8B795E;
color: #fff;
border-bottom-width: 0;
}

/* Column Style */
#table-6 td {
color: #000;
background-color: #F5F5F5;
}
/* Heading and Column Style */
#table-6 tr, #table-6 th {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: black;
height:40px;
}

/* Padding and font style */
#table-6 td, #table-6 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
font-weight: bold;
}
</style>



<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="/shop/">我的信息</a></li>
	    <li><a href="/shop/rank1">排行</a></li>
            <li><a href="/shop/activity">我的活动</a></li>
            <li><a href="/shop/alliance">联合活动</a></li>
	    <li><a href="/shop/my_alliance">已有联盟</a></li>
	    <li><a href="/shop/rmy_alliance">我的联盟</a></li>
	    <li><a href="/shop/alliance">创建联盟</a></li>
        </ul>  	
    
    </div> <!-- end of templatemo_menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="#"><span>{{shop.shopname}}</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
    	
            <div id="templatemo_rss">
            
                <img src="../../upload/13459238667">
                
            </div>
            
            <h4>店铺信息</h4>
            <ul class="templatemo_list">
                <li><a href="#">店铺链接: {{shop.shoplink}}</a></li>
                <li><a href="#">店铺类型：xxx</a></li>
                <li><a href="#">联系电话：xxx</a></li>
                <li><a href="#">邮箱：xxx</a></li>
                <li><a href="#">店铺简介：xxx</a></li>
                <li><a style="color: blue" href="/shop/person">修改信息</a></li>
            </ul>
            
            <div class="cleaner_h40"></div>
            
            
           
            
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
    
    <div id="templatemo_right_column">
    
    <div id="templatemo_main">
            <div id="show_time0" style="height: 20px;margin-bottom: 10px;">
                  <script>
                    setInterval("show_time0.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000); 
                  </script>
            </div>
  
        <h2>店铺联合活动</h2>
            
            
            <div class="cleaner_h30"></div>
        
            <div class="service_box">
                <h2>正在建设中……</h2>
                <input type="button" value="创建联盟" style="width: 100px; height: 30px; margin: 0 0 10px 0;" />
                <p>设置加入此联盟的其他 Org 的条件, 如能量值, 位置信息等.</p>
                
         
                
                	
                <div class="cleaner"></div>
            </div>
            
            
    	</div> <!-- end of main -->
 	<div class="cleaner"></div>
  </div> 
    <!-- end of right column -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2048 <a href="http://www.sports-chain.net">SportChain</a> <!-- Credit: www.templatemo.com -->| 
        Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->
<!-- templatemo 251 clean blog -->
<!-- 
Clean Blog Template 
http://www.templatemo.com/preview/templatemo_251_clean_blog 
-->
</body>
</html>
