<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
	<title>企业登陆</title>
	<script type="text/javascript" src="/javascripts//jquery-3.3.1.min.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/shop/base_one.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/shop/home.css">
</head>
<body>
<section class="aui-content">
	<div style="height:20px;"></div>
	<div class="aui-content-up">
		<form action="/shop/enterprise" name="form1" method="post" enctype="multipart/form-data">
			<div class="aui-content-up-form" >
				<h2 style="text-align: right">登录账户：{{tel}}<span></span></h2>
				<h2>企业登陆</h2>
			</div>
			<div class="aui-content-up-form" >
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					企业名称
				</label>
				<div class="aui-form-input">
					<input type="text" class="aui-form-control-two" name="yourname" onBlur="checkna()" required id="1" placeholder="请输入身份证名字">
					<span class="tips" id="divname">长度1~6个字符</span>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					店铺Logo
				</label>
				<div class="aui-form-input">
					<div class="aui-content-img-box aui-content-full">
						<div class="aui-photo aui-up-img clear">
							<section class="aui-file-up fl">
								<img src="/images/up.png" class="add-img">
								<input type="file" name="file1" id="file1" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					注册号
				</label>
				<div class="aui-form-input">
					<input type="text" class="aui-form-control-two" name="youphone" id="2" placeholder="请输入X位的注册号" onBlur="checkpsd1()" required/>
					<span class="tips" id="phone">必须是X位的数字</span>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					组织机构代码
				</label>
				<div class="aui-form-input">
					<input type="text" class="aui-form-control-two" name="youphone1" id="3" placeholder="请输入代码" onBlur="checkpsd1()" required/>
					<span class="tips" id="code">必须是代码</span>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					店铺链接
				</label>
				<div class="aui-form-input">
					<input type="text" class="aui-form-control-two" name="url" required id="1" placeholder="请输入店铺网址">
					<span class="tips" id="divname">必须是网页链接</span>
				</div>
			</div>
			<div class="aui-content-up-form" >
				<h2>法人代表信息</h2>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					法人归属地
				</label>
				<div class="aui-form-input">
					<select class="aui-form-control-two" name="style_c" id="4" placeholder="请选择类型" onBlur="checkpsd1()" required>
						<option>中国大陆</option>
						<option>港澳台</option>
					</select>
					<span class="tips" id="select_five">请选择类型</span>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					法人代表名称
				</label>
				<div class="aui-form-input">
					<input type="text" class="aui-form-control-two" name="yourname1" onBlur="checkna()" required id="5" placeholder="请输入法人名字">
					<span class="tips" id="layer_name">长度1~6个字符</span>
				</div>
			</div>
			<div class="aui-content-up-form" >
				<h2>法人营业执照及组织机构代码证</h2>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					营业执照
				</label>
				<div class="aui-form-input">
					<div class="aui-content-img-box aui-content-full">
						<div class="aui-photo aui-up-img clear">
							<section class="aui-file-up fl">
								<img src="/images/up.png" class="add-img">
								<input type="file" name="file2" id="file2" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					组织机构代码证
				</label>
				<div class="aui-form-input">
					<div class="aui-content-img-box aui-content-full">
						<div class="aui-photo aui-up-img clear">
							<section class="aui-file-up fl">
								<img src="/images/up.png" class="add-img">
								<input type="file" name="file3" id="file3" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="aui-content-up-form" >
				<h2>代表人<span>谁谁谁</span>的证件照</h2>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					证件照正面
				</label>
				<div class="aui-form-input">
					<div class="aui-content-img-box aui-content-full">
						<div class="aui-photo aui-up-img clear">
							<section class="aui-file-up fl">
								<img src="/images/up.png" class="add-img">
								<input type="file" name="file4" id="file4" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="aui-form-group clear">
				<label class="aui-label-control">
					证件照反面
				</label>
				<div class="aui-form-input">
					<div class="aui-content-img-box aui-content-full">
						<div class="aui-photo aui-up-img clear">
							<section class="aui-file-up fl">
								<img src="/images/up.png" class="add-img">
								<input type="file" name="file5" id="file5" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
							</section>
						</div>
					</div>
				</div>
			</div>
	<div class="aui-btn-default">
                <input id="btnSubmit" type="submit" value="提交" style="margin-bottom: 20px;">
        </div>
	
	</form>
	</div>
</section>
<div class="aui-mask aui-works-mask">
	<div class="aui-mask-content">
		<p class="aui-delete-text">确定要删除你上传的资料？</p>
		<p class="aui-check-text">
			<span class="aui-delete aui-accept-ok">确定</span>
			<span class="aui-accept-no">取消</span>
		</p>
	</div>
</div>
<script type="text/javascript" src="/javascripts/shop/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/shop/up.js"></script>
<script type="text/javascript">
	function checkna(){
		na=form1.yourname.value;
		if( na.length <1 || na.length >6)
		{
			divname.innerHTML='<font class="tips_false">长度是1~6个字符</font>';
		}else{
			divname.innerHTML='<font class="tips_true">输入正确</font>';
		}
	}
	function checkpsd1(){
		na=form1.youphone.value;
		if( na.length <11 || na.length >11)
		{
			phone.innerHTML='<font class="tips_false">必须是11位的数字</font>';
		}else{
			phone.innerHTML='<font class="tips_true">输入正确</font>';
		}
	}
	function checkpsd2(){
		na=form1.youziz.value;
		if( na.length <18 || na.length >18)
		{
			zizhi.innerHTML='<font class="tips_false">必须是18位社会信用代码</font>';
		}else{
			zizhi.innerHTML='<font class="tips_true">输入正确</font>';
		}
	}


	var file1 = document.getElementById("file1");
	 var file2 = document.getElementById("file2");
	 var file3 = document.getElementById("file3");
	 var file4 = document.getElementById("file4");
	 var file5 = document.getElementById("file5");
	var formdata = new FormData();
	for (var i = 0; i < 5; i++){
		formdata.append('file', file[i]);
		console.log(file[i]);
	}
	console.log(formdata);
	$.ajax({  
                url: '/shops/enterprise',  
                type: 'POST',  
                data: formdata,
                cache: false,  
                contentType: false,  
                processData: false,  
                success: function(data){
                    if(200 === data.code) {  
                        $('#result').html("上传成功！");  
                        $('#img').attr('src',data.data);  
                    } else {  
                        $('#result').html("上传失败！");  
                    }  
                    console.log('imgUploader upload success');  
                },  
                error: function(){  
                    $("#result").html("与服务器通信发生错误");  
                }  
            });   
</script>
</body>
</html>

  </body>
</html>

