<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="网站关键词">
    <meta name="Description" content="网站介绍">
    <link rel="stylesheet" href="/stylesheets/shop/base.css">
    <link rel="stylesheet" href="/stylesheets/shop/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/shop/reg.css">
</head>

<body>
<div id="ajax-hook"></div>
<div class="wrap">
    <div class="wpn">
        <div class="form-data pos" >
            <div class="change-login">
                <p class="account_number on">个人注册</p>
                <p class="message">企业注册</p>
            </div>
            <div class="form1">
                <p class="p-input pos">
                    <label for="num2">手机号</label>
                    <input type="number" id="num4">
                </p>
                <p class="p-input pos">
                    <label for="veri-code">输入验证码</label>
                    <input type="number" id="veri-code2">
                    <a class="send">发送验证码</a>
                    <span class="time hide"><em>120</em>s</span>
                    <span class="tel-warn error hide">验证码错误</span>
                </p>
                <p class="p-input pos">
                    <label for="pass">请输入密码</label>
                    <input type="password" style="display:none"/>
                    <input type="password" id="pass1" autocomplete="new-password">
                    <span class="tel-warn pass-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                </p>
                <button id="btnLogin" type="submit" class="lang-btn off log-btn" onclick="login()">登录</button>
            </div>

            <div class="form2 hide">
                <p class="p-input pos">
                    <label for="num2">手机号</label>
                    <input type="number" id="num2">
                </p>
                <p class="p-input pos">
                    <label for="veri-code">输入验证码</label>
                    <input type="number" id="veri-code">
                    <a class="send">发送验证码</a>
                    <span class="time hide"><em>120</em>s</span>
                    <span class="tel-warn error hide">验证码错误</span>
                </p>
                <p class="p-input pos">
                    <label for="pass">请输入密码</label>
                    <input type="password" style="display:none"/>
                    <input type="password" id="pass3" autocomplete="new-password">
                    <span class="tel-warn pass-err hide"><em>账号或密码错误，请重新输入</em><i class="icon-warn"></i></span>
                </p>
                <button id="btnLogin2" type="submit" class="lang-btn off log-btn" onclick="login2()">登录</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script src="/javascripts/shop/agree.js"></script>
<script src="/javascripts/shop/login.js"></script>
</body>
</html>
