<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>个人登陆</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/shop/base_one.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/shop/home.css">
    <script type="text/javascript" src="/javascripts//jquery-3.3.1.min.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
</head>
<body>
    <section class="aui-content">
        <div style="height:20px;"></div>
        <div class="aui-content-up">
        <form action="/shop/person" method="post" enctype="multipart/form-data" onsubmit="return valid()">
            <div class="aui-content-up-form" >
                <h2 style="text-align: right">登录账户：<span>{{tel}}</span></h2>
                <h2>个人登陆</h2>
            </div>
            <div class="aui-content-up-form" >
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    商铺名称 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="shopName" required id="shopName" placeholder="请输入商铺名字">
                    <span class="tips" id="divname">长度1~6个字符</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    商铺类型 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <select class="aui-form-control-two" name="shopType" id="2" placeholder="请选择商铺类型" required>
                        <option>默认类型</option>
                        <option>电子数码</option>
                        <option>日用百货</option>
                        <option>五金机电</option>
                        <option>内衣内裤</option>
                    </select>
                    <span class="tips" id="select_one">请选择类型</span>
                </div>
            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    店铺简介
                </label>
                <div class="aui-form-input">
                    <textarea class="aui-form-control" name="description" id="3" minlength="5">请输入您的店铺介绍</textarea>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    店铺网址 <em>*</em>
                </label>
                <div class="aui-form-input">
                    <input type="text" class="aui-form-control-two" name="url" required id="5" placeholder="请输入店铺网址">
                    <span class="tips" id="divname_one">长度1~24个字符</span>
                </div>
            </div>

            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    商家Logo
                </label>
                <input type="file" name="logo">
            </div>

            <input id="btnSubmit" type="submit" value="提交" style="margin-bottom: 20px;">
        </form>
    </section>

    <script type="text/javascript">
        function valid(){
            var name = $('#shopName').val();
            if (!checkval(name)){
                layer.msg('店铺名只能是中英文');
                return false;
            }

            return true;
        }
        
        //验证是否有特殊字符
        function checkval(t) {
            var re = /^[\u4e00-\u9fa5a-z]+$/gi;//只能输入汉字和英文字母
            if (re.test(t)) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>