<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>排行</title>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<style>
#table-6 thead th {
background-color: black;
color: #fff;
border-bottom-width: 0;
}

/* Column Style */
#table-6 td {
color: #000;
}
/* Heading and Column Style */
#table-6 tr, #table-6 th {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: black;
height:40px;
}

/* Padding and font style */
#table-6 td, #table-6 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
font-weight: bold;
}
</style>
</head>


	 <body style="background-color:#3895e8">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SportsChain</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/shop/">商家主页</a></li>
                <li class="active"><a href="/shop/rank">排行</a></li>
                <li><a href="/shop/activity">我的活动</a></li>
                <li><a href="/shop/alliance">联合活动</a></li>
		<li><a href="/shop/my_alliance">已有联盟</a></li>
		<li><a href="/shop/rmy_alliance">我的联盟</a></li>
		<li><a href="/shop/alliance">创建联盟</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
	

  <form role="form">
 <table id="table-6" style="width:70%;margin-left:15%;">
  <thead>
        <th style="width:20%;">店铺排行 </th> <th style="width:25%;">店铺名称 </th>
         <th style="width:30%;"> 店铺主页 </th> <th style="width:25%;"> 热度值 </th>
</thead>
  <tbody>
      {{#each results}}
      <tr>
        <td style="width:20%;">{{ @index }}</td>
        <td style="width:25%;">{{ this.shopname }}</td>
        <td style="width:20%;"><a href='{{ this.shoplink }}'>进入{{thisshopname}}主页</a></td>
        <td style="width:30%;">{{ this.energy }}</td>
      </tr>
      {{/each}}
  </tbody>                                                                                            </table>
    <!--<input type='text' class="form-control" id='datetimepicker9'>--!>{{results.time}}</input> </td>
        </tr>
  </tbody>
  </table>
<!--  <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="insuredName">Insured Name :</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="insuredName" placeholder="Insured Name">
        </div>
    </div>


    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="rel_PolicyHolder">Relation with Policy Holder :</label>
        <div class="col-sm-3">
            <input class="form-control" type="text" id="rel_PolicyHolder" placeholder="Relation with Policy Holder"> <br />
            <br />
        </div>
    </div>


  <div class="container" >
    <div class="col-sm-4" style="height:130px; align:right">

      <div class='input-group date'>
        <input type='text' class="form-control" id='datetimepicker9' /> 
        <span class="input-group-addon"> 
          <span class="glyphicon glyphicon-calendar"></span>
        </span>

        <script src="/javascripts/jquery-3.3.1.min.js"></script></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">
          $(function () {
            $('#datetimepicker9').datetimepicker({
              viewMode: 'years'
            });
          });
        </script>
      </div>
    </div>
  </div>
--!>
 </form>

 </body>
</html>
